.blinker {
    border: 3px solid red;
    animation-name: blikanie;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    background-color:#00bcd4; 
    font-size: 1.5em !important;
    padding: 15px;
    font-weight: bold;
    width: 100%;
}
.blinker:hover{
    background-color:#33ccff!important;
    cursor: pointer;
}

@keyframes blikanie{
    from {border-color: rgba(24, 215, 240,0.7)}
    to {border-color: red}
}