div#sfdiv ,div.jsb > center > input:nth-child(1){
    border: 3px solid red;
    animation-name: blinker;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

div#sfdiv:hover,div.jsb > center > input:nth-child(1):hover{
    border-color:white;
    animation-name: none;
}

@keyframes blinker{
    from {border-color: white}
    to {border-color: red}
}