@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../fonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

html {
    font-family: "Roboto", sans-serif !important;
}

.w3-content{
    margin-top: 2% !important;
    margin-bottom: 2% !important;
}

header{
    padding:64px 32px !important;
}

footer{
    padding: 32px;
}

button, a{
    width: 100%
}

li{
    margin: 16px !important;
    list-style: square !important;
}