/* Všeobecne */
body {
    font-family: "Roboto", sans-serif
}

.w3-bar-block .w3-bar-item {
    padding:16px;font-weight:bold}

ul {
    list-style: none;
}

article {
    border-bottom: 1px solid #eee;
}

/* Osobné */
#logo {
    
}